GridBackground
{
	--grid-background-color: var(--ds-colors-grid-grey-1);
	--line-color: var(--ds-colors-grid-grey-2);
	--thick-line-color: var(--ds-colors-grid-grey-3);
	--spacing: var(--ds-grid-spacing);
}